.App {
    width: 400px;
    max-height: 500px;
    padding: 40px 100px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    overflow-x: auto;
    overflow-y: auto;

    /* border: 1px solid black; */
    border-radius: 16px;
    background-color: white;

    box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

.form-title {
    text-align: center;
    text-shadow: 1px 1px black;
    color: #7D18B4;
    font-size: 38px;
}

.form-control {
    display: flex;
    align-items: flex-end;
    margin-bottom: 16px;
}

.form-input {
    width: 100%;
}

.form-buttons {
    display: flex;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.todo h2 {
    text-overflow: ellipsis;

    white-space: nowrap;
    overflow: hidden;
}

.btn {
    border: none;
    border-radius: 50%;

    width: 40px;
    height: 40px;
    
    transition: all .2s ease;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.btn:focus {
    outline: none;
}

.btn-check {
    background-color: transparent;
    color: #02CE13;
}

.btn-edit {
    background-color: transparent;
    color: #00A8E9;
}

.btn-clear {
    background-color: transparent;
    color: #DC004E;
}

h2 {
    font-weight: 500;
    margin-bottom: 0px;
}

.checked {
    font-style: italic;
    text-decoration: line-through;
}

@media all and (max-width: 600px) {
    .App {
        width: 80vw;
        padding: 40px 20px;
    }
}